.user_name {
    color: #afafaf;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.my_message {
    // background: color($colors, primary) !important;
    background: var(--ion-color-tertiary);
    color: #fff;
}

.other_message {
    background: #dcdcdc !important;
    color: #000 !important;
}

.time {
    color: #afafaf;
    float: right;
    font-size: small;
}

.message_row {
    margin-top: 0px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
}

.btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
    // background-color: blue;
}