<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Join Chat
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <div id="container">
        <ion-item>
            <ion-label position="stacked">Set NickName</ion-label>
            <ion-input type="text" [(ngModel)]="nickname" placeholder="NickName"></ion-input>
        </ion-item>

        <ion-button expand='full' (click)="joinChat()" [disabled]="nickname===''">Join Chat as {{nickname}}</ion-button>
    </div>
</ion-content>